<!DOCTYPE html>
<html>
<head>
    <title>Página de inicio</title>
</head>
<body>
    <h1>Procesamiento de archivo XLSX</h1>


    {% block content %}
    <h2>Resultado del Procesamiento</h2>
        {% if resultado %}
            <h2>Direcciones IP y países:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Dirección IP</th>
                        <th>País</th>
                    </tr>
                </thead>
                <tbody>
                    {% for direccion, pais in resultado.iterrows %}
                        <tr>
                            <td>{{ direccion }}</td>
                            <td>{{ pais }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
      <a href="{% url 'descargar_excel' %}" class="btn btn-primary">Descargar Resultado</a>
    {% else %}
      <p>No hay resultados para mostrar.</p>
    {% endif %}


    <form method="POST" enctype="multipart/form-data" action="{% url 'procesar_archivo' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="archivo">Archivo XLSX:</label>
          <input type="file" id="archivo" name="archivo" accept=".xlsx">
        </div>
        <button type="submit" class="btn btn-primary">Procesar</button>
      </form>
    {% endblock %}

    
</body>
</html>
