<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">


    <title>{% block title %} Calcular el perfil de riesgo{% endblock %}</title>
  </head>
<body>
    {% block content %}
    <section>

      <hgroup>
        <h1>Calcular umbral de riesgo</h1>
        <h3 class="stitle">Subtitle for heading 2</h3>
      </hgroup>

        <div class="container">
            <div class="row">
                <div class="col-12">  
                    <form method="post">
                        {% csrf_token %}
                        
                        {{ form.nombre.label }}: {{ form.nombre }}<br>
                        {{ form.segundo_nombre.label }}: {{ form.segundo_nombre }}<br>
                        {{ form.primer_apellido.label }}: {{ form.primer_apellido }}<br>
                        {{ form.segundo_apellido.label }}: {{ form.segundo_apellido }}<br>
                        {{ form.genero.label }}: {{ form.genero }}<br>
                        {{ form.pais_nacimiento.label }}: {{ form.pais_nacimiento }}<br>
                        {{ form.pais_residencia.label }}: {{ form.pais_residencia }}<br>
                        {{ form.profesion.label }}: {{ form.profesion }}<br>
                        {{ form.edad.label }}: {{ form.edad }}<br>
                        {{ form.ingresos.label }}: {{ form.ingresos }}<br>
                        {{ form.pep.label }}: {{ form.pep }}<br>             
                        
                        <button type="submit">Calcular Puntaje</button>
                      </form>

                </div>
            </div>
        </div>

    </section>
    {% endblock %}
</body>
</html>
