<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}"> 


    <title>{% block title %} Calcular el perfil de riesgo{% endblock %}</title>
  </head>
<body>
    <section>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1> Calcular el perfil de riesgo de una persona </h1>
                    
                    <form method="post">
                        {% csrf_token %}
                        
                        <label for="id_nombre">Nombre:</label>
                        <input type="text" id="id_nombre" name="nombre" maxlength="50" required>
                        
                        <label for="id_segundo_nombre">Segundo Nombre:</label>
                        <input type="text" id="id_segundo_nombre" name="segundo_nombre" maxlength="50">
                        
                        <label for="id_primer_apellido">Primer Apellido:</label>
                        <input type="text" id="id_primer_apellido" name="primer_apellido" maxlength="50" required>
                        
                        <label for="id_segundo_apellido">Segundo Apellido:</label>
                        <input type="text" id="id_segundo_apellido" name="segundo_apellido" maxlength="50">
                        
                        <label for="id_genero">Género:</label>
                        <select id="id_genero" name="genero" required>
                          <option value="Hombre">Hombre</option>
                          <option value="Femenino">Femenino</option>
                        </select>
                        
                        <label for="id_pais_nacimiento">País de Nacimiento:</label>
                        <select id="id_pais_nacimiento" name="pais_nacimiento" required>
                          <option value="Panamá">Panamá</option>
                          <option value="Otros países">Otros países</option>
                        </select>
                        
                        <button type="submit">Calcular Puntaje</button>
                      </form>

                </div>
            </div>
        </div>

    </section>

</body>
</html>
